@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.desktop1{
    background: linear-gradient(139.99deg, #3F4FD7 22.82%, rgba(14, 25, 116, 0.86) 82.13%);
}
.header{
    display: flex;
    align-items: center;
    padding-top: 22px;
}
.headertxt{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}
.content{
    padding: 90px 0;
    display: flex;
    align-items: center;
}
.wdv{
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
    line-height: 1.4;
}
.qaz{
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin: 30px 0;
}
.button1{
    border: none;
    border-radius: 90px;
    background: #71D5FF3D;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
    width: 150px;
    height: 45px;
    margin-bottom: 100px;
}
.details{
    width: 585px;
}
.socials{
    display: flex;
    justify-content: space-evenly;
    margin: 70px 0;
}
.cntt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hd{
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #FF688C;
    text-transform: uppercase;
    margin: 75px 0 8px;
}
.subhd{
    margin: 8px 0 25px;
    font-weight: 900;
    font-style: normal;
    font-size: 38px;
    text-align: center;
    width: 55%;
}
.outline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 60px;
}
.outlinep{
    width: 30%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
.section{
    margin: 10px 0 35px ;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hd2{
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin: 105px 0 55px;
}
.txt{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    width: 70%;
}
.hd3{
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #FF688C;
    text-transform: uppercase;
    margin: 330px 0 8px;
}
.butn{
    display: flex;
    justify-content: center;
    margin: 50px 0 215px;
}
.more{
    background-color: transparent;
    color: #FF688C;
    border: 2px solid #C4C4C4;
    width: 13%;
    font-size: 16px;
    border-radius: 90px;
    width: 13%;
    height: 45px;
    font-weight: 400;
    font-style: normal;
}
.biohd{
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}
.biotxt{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #696969;
}
.id{
    margin-bottom: 200px;
}
.worktxt{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #7F7E7E;
    width: 50%;
}
.button3{
    background: linear-gradient(101.53deg, #127CFF -9.34%, #2FC1FE 106.23%);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 13%;
    height: 45px;
    margin-top: 50px;
    border-radius: 90px;
    border: none;
    color: white;
    text-transform: capitalize;
}
.footer{
    margin-top: 300px;
}
.logo{
    display: flex;
    align-items: flex-start;
    height: min-content;
}
.logotxt{
    font-weight: 700;
    font-style: normal;
    size: 16px;
    text-transform: uppercase;
    padding: 8px;
}
.logo > img{
    width: min-content;
    height: min-content;
}
.footersechd{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 9px;
    margin: 0;
}
.footersectxt{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #797979;
    text-transform: capitalize;
    margin-bottom: 9px;
    margin: 0;
}
.socialsft{
    display: flex;
    align-items: start;
    filter: grayscale(1) invert(1);
    margin: 0;
    justify-content: space-evenly;
}
.foot{
    height: min-content;
}
footer{
    margin: 80px 0 70px;
}
@media screen and (max-width: 768px) {
    .container-fluid{
        max-width: 100%;
    }
    .button1{
        margin-bottom: 50px;       
    }    
    .socials{
        width: 20%;
    }
    .design{
        width: 100%;
        height: auto;
    }
    .section > img{
        width: 100%;
        height: auto;
    }
    .more{
        width: fit-content;
    }
    .hd{
        font-size: 24px;
    }
    .subhd{
        width: 80%;
    }
    .outlinep{
        width: 60%;
        font-size: 22px;
    }
    .img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .section:nth-of-type(2){
        display: flex;
        flex-direction: column-reverse;
    }
    .img:first-of-type{
        margin: 0;
    }
    .img:last-of-type{
        margin-top: 40px;
    }
    .txt{
        font-size: 20px;
        text-align: center;
    }
    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
    }
    .button3{
        width: fit-content;
    }
}
@media screen and (max-width: 375px) {
    .wdv{
        font-size: 34px;
    }
    .qaz{
        font-size: 20px;
    }
    .button1{
        margin-bottom: 15px;
    }
    .socials{
        width: 40%;
    }
    .design{
        width: 100%;
        height: auto;
    }
    .subhd{
        font-size: 18px;
    }
    .outlinep{
        font-size: 16px;
        width: 70%;
    }
    .hd2{
        font-size: 18px;
        text-align: center;
    }
    .txt{
        font-size: 14px;
    }
    .more{
        width: fit-content;
    }
    .worktxt{
        width: 75%;
    }
    .socialsft{
        margin-top: 20px;
    }
    .logo{
        justify-content: center;
        margin-bottom: 10px;
    }
    .footersechd, .footersectxt{
        text-align: center;
    }
    .footersectxt, .footersechd > *{
        margin: 8px;
    }
}